<div class="film-card" [id]="idIMDB">
  <div class="film-poster">
    <img [src]="poster" [alt]="title" [title]="title">
  </div>
  <div class="film-info">
    <h3 class="film-info__title">
      {{title}}
    </h3>
    <p>Year: {{year}}</p>
    <p>Rating: {{rating}}</p>
    <p>
      Countries:
      <span *ngFor="let country of countries">
        {{country}}
      </span>
    </p>
    <p class="film-info__links">
      Directors:
      <ng-container *ngFor="let director of directors; let $index = last;">
        <a href="https://www.imdb.com/name/{{director.id}}/"
           rel="noopener noreferrer"
           target="_blank">
          {{director.name}}
        </a>{{$index ? '' : ','}}
      </ng-container>
    </p>
    <div class="film-info-trailer" *ngIf="trailerQualitiesList">
      <span>Watch trailer</span>
      <button *ngFor="let trailer of trailerQualitiesList; let $index = index"
                  class="button"
                  (click)="chooseQuality(trailerQualitiesList[$index].videoURL)"
      >
        {{trailer.quality.toString()}}
      </button>
    </div>
    <div class="film-info-favourite">
      <button
        [classList]="addedToFavourite ? 'button button-success' : 'button button-alert'"
        (click)="showForm();"
      >
        {{addedToFavourite ? 'Your favourite' : 'Add to favourites'}}
      </button>
    </div>
  </div>
</div>

<app-modal-window
  [modalShown]="trailerModalShown"
  (modalClosed)="clearChosenQuality()"
>
  <ng-container [ngTemplateOutlet]="trailerContent"></ng-container>
</app-modal-window>

<ng-template #trailerContent>
  <div class="film-trailer">
    <video [src]="chosenQuality" controls width="1200" height="675"></video>
  </div>
</ng-template>

<app-modal-window [modalShown]="favouriteModalShown" (modalClosed)="favouriteModalShown = false">
  <ng-container [ngTemplateOutlet]="favouriteContent"></ng-container>
</app-modal-window>

<ng-template #favouriteContent>
  <app-favourite-details
    *ngIf="favouriteModalShown"
    [filmID]="idIMDB"
    [incomingFilmName]="title"
    [watched]="watched"
    [dateToWatch]="dateToWatch"
    [remember]="remember"
    [review]="review"
    [addedToFav]="addedToFavourite"
    (submitForm)="editFavourite($event)"
  ></app-favourite-details>
</ng-template>
