.button {
  display: inline-block;
  padding: 10px;
  background-color: transparent;
  border-radius: 4px;
  font-size: inherit;
  outline: none;
  border: 2px solid tomato;
  transition: background-color .3s, border-color .3s;
  cursor: pointer;
  margin-bottom: 5px;

  &:hover {
    background-color: tomato;
  }

  &-alert {
    border-color: red;

    &:hover {
      background-color: red;
    }
  }

  &-success {
    border-color: lightgreen;
    background-color: lightgreen;

    &:hover {
      border-color: darken(lightgreen, 20%);
      background-color: darken(lightgreen, 20%);
    }
  }



}
