:root {
  --white: #fff;
  --main-bg-color: #e1f5fe;
  --main-text-color: #263238;
  --green: #8bc34a;
  --orange: #ff5722;
  --blue: #29b6f6;
  --dark-blue: #01579b;
  --dark-blue-hover: #0d47a1;
  --normal-transiton: .3s;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto, sans-serif;
}

body {
  color: var(--main-text-color);
  background-color: var(--main-bg-color);
  font-size: 16px;
}

h1 {
  margin-bottom: 20px;
}

h2 {
  margin-bottom: 15px;
}

nav {
  padding-bottom: 20px;
}

a {
  text-decoration: none;
  color: var(--blue);
  display: inline-block;
  margin-left: 10px;
  transition: color var(--normal-transiton);

  &:first-child {
    margin-left: 0;
  }

  &:hover {
    color: var(--green);
  }
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.button {
  display: inline-block;
  padding: 10px;
  background-color: transparent;
  border-radius: 4px;
  font-size: inherit;
  outline: none;
  border: 2px solid tomato;
  transition: background-color .3s, border-color .3s;
  cursor: pointer;
  margin-bottom: 5px;

  &[disabled]{
    opacity: .7;
    cursor: not-allowed;
  }

  &:hover {
    background-color: tomato;
  }

  &-alert {
    border-color: red;

    &[disabled]{
      background-color: rgba(red, .5);
      color: black;
    }

    &:hover {
      background-color: red;
    }
  }

  &-success {
    border-color: lightgreen;
    background-color: lightgreen;

    &:hover {
      border-color: darken(lightgreen, 20%);
      background-color: darken(lightgreen, 20%);
    }
  }

  &-primary {
    border-color: lightblue;
    background-color: lightblue;

    &[disabled]{
      background-color: rgba(lightblue, .5);
      color: black;
    }

    &:hover {
      background-color: darken(lightblue, 10%);
      border-color: darken(lightblue, 10%);
    }
  }
}


.film-card {
  background-color: blue;

  .button {
    margin-left: 10px;

    &:first-child {
      margin-left: 0;
    }
  }
}

.site-preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  background-color: rgba(white, .3);
  opacity: 1;
  transition: opacity .3s;

  &.hidden {
    opacity: 0;
    pointer-events: none;
  }

  &::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -15px;
    margin-left: -15px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 4px solid transparent;
    border-top-color: lightgreen;
    border-left-color: lightgreen;
    animation: rotate 2s linear infinite;
  }
}

@keyframes rotate {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
