* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto, sans-serif;
}

body {
  color: #000;
  font-size: 16px;
}

h1 {
  margin-bottom: 20px;
}

h2 {
  margin-bottom: 15px;
}

nav {
  padding-bottom: 20px;
}

a {
  text-decoration: none;
  color: #29cf72;
  display: inline-block;
  margin-left: 10px;
  transition: color .3s;

  &:first-child {
    margin-left: 0;
  }

  &:hover {
    color: darken(#29cf72, 10%);
  }
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.button {
  display: inline-block;
  padding: 10px;
  background-color: transparent;
  border-radius: 4px;
  font-size: inherit;
  outline: none;
  border: 2px solid tomato;
  transition: background-color .3s, border-color .3s;
  cursor: pointer;
  margin-bottom: 5px;

  &[disabled]{
    opacity: .7;
    cursor: not-allowed;
  }

  &:hover {
    background-color: tomato;
  }

  &-alert {
    border-color: red;

    &[disabled]{
      background-color: rgba(red, .5);
      color: black;
    }

    &:hover {
      background-color: red;
    }
  }

  &-success {
    border-color: lightgreen;
    background-color: lightgreen;

    &:hover {
      border-color: darken(lightgreen, 20%);
      background-color: darken(lightgreen, 20%);
    }
  }
}


.film-card {
  background-color: blue;

  .button {
    margin-left: 10px;

    &:first-child {
      margin-left: 0;
    }
  }
}
